{% extends "base.html.twig" %}
{% block body %}
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
  <div class="header">
    <h2>My To Do List</h2>
    <form method="post" action="{{path('create_task')}}">
      <input name="title" type="text" id="myInput" placeholder="Task title..." />
      <button type="submit" class="addBtn">Add a task</button>
    </form>
  </div>
  <ul>
    {% for task in tasks %}
      <li {% if task.status %} class="checked" {% endif %}>
          <a href="{{path('switch_status', {"id" : task.id} )}}">
            <span class="task-list-item">{{task.title}}</span>
          </a>
          <a onclick="return confirm('Are you sure to delete?')" 
             href="{{path('delete_task', {"id" : task.id} )}}">
             <span class="close">X</span>
          </a>
      </li>
    {% endfor %}
  </ul>
</body>
</html>
{% endblock %}