<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../assets/css/styles.css">



    <link rel="stylesheet" href="../assets/css/fontawesome.min.css">

    <title>Awesome videos - admin panel</title>
</head>

<body class="text-center">
<div class="container-fluid">

